{{!-- 如果輸入無效的網址，呈現error.hbs --}}

<div class="container mt-5 alert alert-danger" style="display:flex; align-items:center;flex-direction:column">
  <h2>This URL doesn't exist</h2>
  <a href="/">
    <button type="button" class="btn btn-outline-secondary mt-3">Try again</button>
  </a>
</div>